@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/navigation.css">
<div class="text-center">
    <h1>Поведенческие шаблоны проектирования</h1>
    <p class="text-left">Поведенческие шаблоны (англ. behavioral patterns) — шаблоны проектирования, определяющие алгоритмы и способы реализации взаимодействия различных объектов и классов.</p>
    <h2>Использование</h2>
    <p class="text-left">В поведенческих шаблонах уровня класса используется наследование, чтобы определить поведение для различных классов. В поведенческих шаблонах уровня объекта используется композиция. Некоторые из них описывают, как с помощью кооперации несколько равноправных объектов работают над заданием, которое они не могут выполнить по отдельности. Здесь важно то, как объекты получают информацию о существовании друг друга. Объекты-коллеги могут хранить ссылки друг на друга, но это усиливает степень связанности системы. При высокой связанности каждому объекту пришлось бы иметь информацию обо всех остальных. Некоторые из шаблонов решают эту проблему. </p>
    <h2>Виды поведенческих шаблонов проектирования</h2>
    <ul class="link-nav-ul">
        <li class="text-left"><a href="/Home/Chainofresponsibilily">Цепочка Обязанностей (Chain of responsibilily)</a></li>
        <li class="text-left"><a href="/Home/Command">Команда (Command)</a></li>
        <li class="text-left"><a href="/Home/Interpreter">Интерпретатор (Interpreter)</a></li>
        <li class="text-left"><a href="/Home/Iterator">Итератор (Iterator)</a></li>
        <li class="text-left"><a href="/Home/Mediator">Посредник (Mediator)</a></li>
        <li class="text-left"><a href="/Home/Memento">Хранитель (Memento)</a></li>
        <li class="text-left"><a href="/Home/Observer">Наблюдатель (Observer)</a></li>
        <li class="text-left"><a href="/Home/State">Состояние (State)</a></li>
        <li class="text-left"><a href="/Home/Strategy">Стратегия (Strategy)</a></li>
        <li class="text-left"><a href="/Home/Templatemethod">Шаблонный метод (Template method)</a></li>
        <li class="text-left"><a href="/Home/Visitor">Посетитель (Visitor)</a></li>
    </ul>
</div>
